

/* ===== Primary Styles ========================================================
   Author: Peter Jones -- Front End Developer - SimplyEngage
   ========================================================================== */
   
body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #666;
	line-height: 21px;
	padding: 0;
	margin: 0;
	background: rgba(255,255,255,1);
}

a:hover {
	text-decoration: none
}

p a:hover {
	text-decoration: underline;
}


#sun {
	position: absolute;
	top: 90px;
	left: -1px;
}

.logowrap {
	padding: 5px;
	margin: 0;
}


.display h1 {
	color: #FFF;
	position: relative;
	top:6em;
	text-shadow: 0 1px 16px #333;
	font-size: 3.8em;
	margin: 0;
}


#overview {
	background: url("/retail3.jpg") no-repeat center center fixed;
	min-height: 660px;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#restaurant {
	background: url("/rest1.jpg") no-repeat center center;
	min-height: 790px;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#office {
	background: url("/office1.jpg");
	min-height: 960px;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#retail {
	background: url("/retail2.jpg");
	min-height: 660px;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.display {
	text-align: center;
	position: relative;
	z-index: 1;
	margin: 0;

}


#macpro {
	position: relative;
	top: 388px;
}

#iphone {
	position: relative;
	top: 518px;
	left: -410px
}



@media (max-width: 980px) {
	#sun {
		display: none;
	}
}

@media (min-width: 980px) {
	.navbar .container {
		width: 940px;
	}
}

.container {
	padding: 0 20px;
}


.spacer10 {margin-top: 10px}
.spacer20 {margin-top: 20px}
.spacer30 {margin-top: 30px}
.spacer40 {margin-top: 40px}

.left10 {margin-left:10px}
.left20 {margin-left:20px}
.left30 {margin-left:30px}
.left40 {margin-left:40px}

.right10 {margin-right:10px}
.right20 {margin-right:20px}
.right30 {margin-right:30px}
.right40 {margin-right:40px}


hr {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #ffffff;
}

.dotBot {
    border-bottom: 1px dashed #999999;
    padding-bottom: 0.3em;
}

.devs {color: #F00;}

.uppercase {text-transform: uppercase}

.small {font-size: 80%;}

.center { text-align: center }

.img-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
	



/* ------ Fonts and Headers  ------- */

	.oswald {
		font-family: 'Oswald', sans-serif;
	}
	
	.raleway {
		font-family: 'Raleway', sans-serif;
	}
	
	.infotext {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
	}
	
	

	
	
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Oswald', sans-serif;
		font-weight: normal;
		color: #C38E50;
	}
	.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
		color: #4C9189;
	}
	
	.xtra-large {
		font-size: 42px;
	}
	
	
	h1 {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 0.3em;
	}
	h1 small {
		font-size: 18px;
	}
	h2 {
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 0.3em;
	
	}
	h2 small {
		font-size: 18px;
	}
	h3 {
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 0.2em;
		
	}
	h3 small {
		font-size: 14px;
	}
	
	a { color: #49758d; }
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: #49758d;
	}
	
	.draft {
		color: red;
		font-family: 'Raleway', sans-serif;
		font-size: 14px
	}
	
	.orange {color: #F7931E}
	
	.green { color: #4C9189}
	
	.grey { 
		color: #999 !important;
	
	}
	
	.blue { color: #3A87AD}

/* ------ Icons special styling  ------- */

	[class^="icon-"], [class*=" icon-"] {
		margin: 0 0.8em 0 0;
		height: inherit;
	}
	
	i.right-align {
		margin: 0 0 0 0.6em;
	}
	
	.btn i {
		margin: 0 0.4em;
	}
	
	ul.nav li i, navbar-inner a i {
		margin: 0 0.2em;
	}
	
	.icon-chevron-right {
		color: #CCCCCC;
	}
	
	i.circ {
		color: #F7931E;
		font-size: 1.3em;
		position: relative;
		top: 0.1em;
	}
	
	.pwned {
		color: #4C9189;
	}
	
	.preview {
		text-decoration: underline;
		margin-top: 10px;
		text-align: center;
		font-size: 16px;
	}
	
	.exampleIcons i {
		font-size: 45px;
		color: #3a87ad;
	}
	
	abbr[title] {
		border-bottom-width: 0;
		cursor: pointer;
	}
	
	
	.btn .icon-search {
		color: #888;
	}
	
	.table th i {
		margin: 4px 0 0 3px;
		font-size: 16px;
	}
	
	
	
	.table td i.icon-arrow-right {
		margin: 5px;
		font-size: 12px;
	}
	
	.table td p.locations {
		margin: 0 0 0 10px;
	}
	
	.table td i {
		margin: 4px 5px 0 0;
	}
	
	
	
	.statsIcon i {
		font-size: 28px;
	}
	
	i.icon-facebook {
		color: #39599F;
	}
	
	i.icon-twitter {
		color: #45B0E3;
	}
	
	i.statsemail {
		color: #70A966;
	}
	
	i.mute {
		color: #999; 
	}
	
	i.icon-pinterest {
    color: #C92E33;
	}
	

	
	.table td i {
		color: #3a87ad;
		font-size: 15px;
	}

	.table td i.corporate, i.corporate {color: #093; font-size: 1.3em; margin-right: 10px}
	.table td i.region, i.region {color: #F7931E; font-size: 1.3em; margin-right: 10px}
	
	.table td i.franchisor, i.franchisor {margin-right: 10px}


/* ------ Navigation  ------- */

	
	.navbar-inner {
		background-color: #F7931E;
		background-image: none;
		border-radius: 4px 4px 4px 4px;
		box-shadow: none;
		min-height: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.navbar .nav > li > a,
	#accounts-link {
		padding: 11px 9px 10px;
		color: #fdfaf7;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.40);
		letter-spacing: 1px;
		font-family: 'Oswald', sans-serif;
		font-weight: normal;
		font-size: 16px;
	}
	
	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		box-shadow: 0 3px 4px rgba(0, 0, 0, 0.125) inset
	}
	
	.navbar .nav > li > a:hover, .navbar .nav .active > a, .navbar .nav .active > a:hover, #accounts-link:hover {
		color: #FFF;
		background-color: #D6802B;
	}
	
	div.navbar div.navbar-inner div.container div.nav-collapse div.mp_nav1 ul.nav li {
		margin-right: 8px;
	}
	
	div.navbar div.navbar-inner div.container div.nav-collapse div.mp_nav1 ul.nav li.dropdown ul.dropdown-menu li {
		margin-right: 0;
	}
	
	
	
	ul.nav > li.dropdown:last-child {
		background-color: #4C9189;
	}
	
	
	.dropdown-menu { 
		background-color: #FFF7EA;
		color: #564841;
	}
	


@media (max-width: 980px) {
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		color: #FFF;
		font-weight: normal;
	}
}

	.navbar .btn-navbar {
		background-color: #D6802B;
		background-image: none;
		background-repeat: repeat-x;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
	}
	
	.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
		background-color: #BA6E27;
	}
	

	.navbar .btn-navbar .icon-bar {
		background-color: #FCFCFC;
		border-radius: 1px 1px 1px 1px;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		
	}
	


/* ------ Footer  --------- */

.footBorder {
    background-image: url("/bg-cube.png");
	height: 28px;
	border-top: solid 1px #AAA;
}

footer {
	background-color: #333;
	color: #CCCCCC;
    padding: 40px 0;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h1 a, footer h2 a, footer h3 a, footer h4 a, footer h5 a {
    color: #FCD34D;
}
footer a {
    color: #FCD34D;
}


ul.thumbnails li div.thumbnail div.caption h3 {
	color: #999;
}




ul.socialLinks {
    margin: 5px auto 20px;
	padding: 10px 0;
    overflow: hidden;
}


.socialLinks li {
    color: #999999;
    cursor: pointer;
    float: left;
    list-style-type: none;
    margin: 0 18px 10px;
    transition: all 300ms ease 0s;
    vertical-align: baseline;
}


.socialLinks li:hover {
    color: #000000;
}

footer .socialLinks li {
	color: #CCCCCC;
}

footer .socialLinks li:hover {
    color: #FFFFFF;
}

.socialLinks li .icon-camera {
		color: #666666;
	}
	

.socialLinks i.icon-envelope, #socialChannel i.icon-envelope { color:  #68A147  }


	

footer .socialLinks li i {
    font-size: 15px;
    margin-right: 5px;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}

footer .socialLinks li:hover i {
  transform: scale(2,2);
  -ms-transform: scale(2,2);
  -webkit-transform: scale(2,2);
  -o-transform: scale(2,2);
  -moz-transform: scale(2,2);
}


.messageStats {
	border: solid 1px #CCCCCC;
	padding: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 20px;
}

.messageStats h1, .messageStats h2,  .messageStats h3, .messageStats h4 {
	color: #5B739E;
}
	

.messageStats .socialLinks {
	margin: 0;
	padding-top: 2px;
}

.messageStats .socialLinks li i {
	font-size: 22px;
    margin-right: 4px;
	position: relative;
	top: 5px;
}

.messageStats .socialLinks li {
	margin-left: 0;
	margin-right: 20px;
} 	

.pager li > a,
.pager li > span {
  padding: 5px 14px;
  background-color: #f7a03a;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFF;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f7931e;
}





.pager {
	text-align: left
}


.table th, .table td {
    line-height: 24px;
    text-align: left;
}

ul.message-pager {
	border: 0;
	margin: 0;
}

ul.message-pager li {
	float: left;
	list-style-type: none;
	margin-right: 5px;
}



.message-pager .label {
    padding: 7px 9px;
	display: inline-block;
    font-size: 12px;
	margin: 0 10px 10px 0;
	font-weight: normal;
	text-shadow: none;
}



.socialedit {
	border: 1px solid #333;
}




.mp_content {min-height: 450px}




.well-added {
	min-height: 288px
}

.well-businessname {
	background: #4B9189;
	border-bottom: solid 1px #555;
	margin-bottom: 0;
	color: #FFF;
}

.well-businessname h1,
.well-businessname h2,
.well-businessname h3,
.well-businessname h4 {color: #fff; margin: 0 0.3em;}






.addtoblog li .well {
	text-align: center;
	padding: 8px 0 0;
	overflow: hidden;
	margin-bottom: 5px;
	background: #F4EBDF;
	color: #8C8072;
}

.addtoblog li .well i {
	font-size: 28px;
	float: left;
	margin: 6px 10px 5px;
}

.addtoblog li .well h2 {
	float: left;
	color: #8A6A44;
	margin-right: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 20px;
}

.addtoblog li .well p.status {
	float: right;
	font-size: 15px;
	padding: 8px 10px
}

.addtoblog .thumbnail:hover,
.album-preview-pane:hover  {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}







.well-header {
    background: #F4EBDF;
	color: #8A6A44;
    border-radius: 0;
    margin-bottom: 10px;
    min-height: 20px;
	text-align: center;
	border: 1px solid #a3998e;
}

.well-dragdrop {
    background-color: #F5F5F5;
    border: 2px dashed #666;
    border-radius:0;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 10px 20px;
	text-align: center;
}

.well-dragdrop i {
	color: #CCC;
	font-size: 4.2em;
}

.well-dragdrop h1,
.well-dragdrop h2,
.well-dragdrop h3,
.well-dragdrop h4 {
	margin-bottom: 0;
	color: #999;
}

.well-edit-head {
	padding: 10px 12px;
	text-align: center;
	border: solid 1px #AAA;
}



.well-messages {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 10px;
}

.well-messages .alert {
	margin-bottom: 0;
	border: solid 1px #CCC;
	border-bottom: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.messagelabel {
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;
	padding-top: 5px;
}

.messagelabel i {
	margin-right: 3px
}

.messagedate {
	text-align: right;
}




.messagePod {
	position: relative; 
	background-color: rgba(242,245,246, 1.0);
	display: block; 
	line-height: 24px;
	margin-bottom: 20px;
	text-align: center;
	overflow: hidden;
	border: solid;
	border-width: 4px;
	border-color: rgba(202,214,221, 1.0);
	border-radius: 126px; 
	-moz-border-radius: 126px; 
	-webkit-border-radius: 126px; 
	-khtml-border-radius: 126px;
}

.details {
	height: 242px; 
	width: 242px; 
}

.adminHome {
	height: 242px; 
	width: 242px; 
}

.adminHome h3 {
	position:relative;
	color: #666;
	margin-top: 20%;
	margin-left: -12px;
	background-color: rgba(229,235,238, 1.0);
	font-size: 20px;
	line-height:36px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.adminHome h3 i {
	margin-right: 12px;
	color: #666;
}

div.details h3 {
	margin-top: 60px;
	color: #666;
	background-color: rgba(229,235,238, 1.0);
	font-size: 20px;
	line-height:36px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-khtml-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

div.messagePod p {
	position: relative;
}


/*
ul#socialToggle {
	margin: 20px 0;
	list-style-type: none;
}

ul#socialToggle li {
	margin: 5px;
	padding: 5px;
	float: left;
	width: 56px;
	height: 53px;
	background: URL('/social-sprite.png');
	background-repeat: no-repeat;
}


ul#socialToggle li.toggleBlog {
	background-position: 8px 5px;
}

ul#socialToggle li.toggleEmail {
	background-position: -54px 5px;
}

ul#socialToggle li.toggleFB {
	background-position: -117px 5px;
}

ul#socialToggle li.toggleTW {
	background-position: -180px 5px;
}

ul#socialToggle li.toggleBlog:hover {
	background-position: 7px -54px;
}

ul#socialToggle li.toggleEmail:hover {
	background-position: -54px -54px;
}

ul#socialToggle li.toggleFB:hover {
	background-position: -117px -54px;
}

ul#socialToggle li.toggleTW:hover {
	background-position: -180px -54px;
}


ul#socialToggle li a {
	display: block;
	position: relative;
	top: 52px;
	text-align: center;
	font-size: 11px;
}*/


ul#socialChannel li img {
	cursor: pointer;
	margin-bottom: 5px;
}

ul#socialChannel {
	margin: 20px 0;
	list-style-type: none;
}


ul#socialChannel li {
	margin: 5px;
	padding: 5px;
	float: left;
	background-repeat: no-repeat;
	text-align: center;
	
}

ul#socialChannel li i {
	font-size: 46px;
	margin: auto;
}



 
.comp h4 {
	margin-left: 62px
}

.comp ul {
	width: 100%;
	height: 100%;
	line-height: 18px;
	margin-top: 10px;
	margin-left: 80px;
}



ul#emailPod,
ul#socialPod,
ul#websitePod {
	width: 100%;
	height: 100%;
	margin-top: 12px;
	list-style-type: none;
}



ul#socialPod {
	margin-left: 35px
}

ul#websitePod {
	margin-left: 52px
}


ul#emailPod li,
ul#socialPod li,
ul#websitePod li {
	text-align: left;
	padding-left: 36px;
	line-height: 25px;
}


ul#messagePods li a:hover { 
	height: 270px; 
	width: 270px; 
	border-radius: 135px; 
	-moz-border-radius: 135px; 
	-webkit-border-radius: 135px; 
	-khtml-border-radius: 135px;
}

ul#messagePods li a span { /* @ xy.js : xycss_swap_text() */
	position: absolute; 
	top: 100px; 
	left: 3%; 
	width: 94%; 
	line-height: 24px;
}
ul#messagePods li a:hover span {
	top: 109px;
}

.multi-table-wrap {
	height: 320px;
	overflow: auto;
	border: solid 1px #AAA;
	padding: 0;
	margin-bottom: 10px;
	
}






/* -----   Media Album and Images   ------- */




.well-dragdrop i.smaller {font-size: 2.6em;}


.album-preview-pane {
	position: relative;
	min-height: 210px;
	background-position: center center;
	border: solid 1px #CCC;
}

.album-preview-pane h2,
.album-preview-pane h3 {
	color: #FFF;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.60);;
}

.pane1 {
	background-image: url('/pane1.jpg');
}

.pane2 {
	background-image: url('/pane2.jpg');
}

.pane3 {
	background-image: url('/pane3.jpg');
}

.pane4 {
	background-image: url('/corp-logo.jpg');
}

.pane5 {
	background-image: url('/clothes.jpg');
}
	
.shared-corner {
		border-bottom-color: rgba(0, 0, 0, 0);
		border-bottom-style: solid;
		border-bottom-width: 0px;
		border-left-color: rgba(0, 0, 0, 0);
		border-left-style: solid;
		border-left-width: 0px;
		border-right-color: rgba(0, 0, 0, 0);
		border-right-style: solid;
		border-right-width: 75px;
		border-top-color: rgba(255, 170, 0, 0.8);
		border-top-style: solid;
		border-top-width: 75px;
		display: block;
		position: absolute;
		height: 0px;
		line-height: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		width: 0px;
}

div.album-preview-pane i.icon-share-alt {
	color: #FFF;
	text-shadow: 1px 0 2px #666;
	font-size: 24px;
	position: absolute;
	top: 12px;
	left: 12px;
}





.album-browse {
	height: 210px;
	margin-bottom: 20px;
	position: relative;
	 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}



.divlink {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	min-height: 210px;
	z-index: 20;
}



.black-cover {
	display: block;
	background-color: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-align:right;
	position: absolute;
	min-height: 210px;
	z-index: 10;
}

div.album-browse:hover .black-cover,
div.album-preview-pane:hover .black-cover {
	background-color: rgba(0,0,0,0.4);
}

div.album-preview-pane a i,
.album-browse a i {
	color: #fff;
	opacity: 0.7;
	visibility: hidden;
	text-shadow: 0 1px 3px #333;
	margin: 10px;
	font-size: 18px;
}

div.album-preview-pane a i.icon-eye-open,
.album-browse a i.icon-eye-open {
	margin-right: 22px;
}

div.album-preview-pane:hover div.black-cover a i,
.black-cover:hover i {
	visibility: visible
}



.pic1 {
	background-image: url('http://media2.simplyengage.com/file-4/4895/4895.jpg');
}
.pic2 {
	background-image: url('http://media2.simplyengage.com/file-4/4887/4887.jpg');
}
.pic3 {
	background-image: url('http://media2.simplyengage.com/file-4/4885/4885.jpg');
}
.pic4 {
	background-image: url('http://media2.simplyengage.com/file-4/4908/4908.jpg');
}
.pic5 {
	background-image: url('http://media2.simplyengage.com/file-4/4904/4904.jpg');
}
.pic6 {
	background-image: url('http://media2.simplyengage.com/file-4/4920/4920.jpg');
}
.pic7 {
	background-image: url('http://media2.simplyengage.com/file-4/4903/4903.jpg');
}
.pic8 {
	background-image: url('http://media2.simplyengage.com/file-4/4901/4901.jpg');
}
.pic9 {
	background-image: url('http://media2.simplyengage.com/file-4/4925/4925.jpg');
}
.pic10 {
	background-image: url('http://media2.simplyengage.com/file-4/4923/4923.jpg');
}

.popover-title { display: none; }

.popover-content {
  padding: 0;
}

.add-page-popover {
	padding: 20px;
	background-color: #000;
	color: #FFF;
}

.add-page-popover a {
	color:#dbdbdb;
}

.add-page-icon {
	padding: 10px;
	background-color: rgba(51,51,51,1);
	color:#dbdbdb;
	margin: 0 0 8px;
}

.add-page-icon:hover {
	background-color: rgba(102,102,102,1);
}




.settings {
	font-size: 12px;
	position: relative;
	right: 10px;
	font-family: 'Raleway',sans-serif;
}

.settings a {
	color:#8C8072;
}


.picwrap {
	padding: 40px 0;
	position: relative;
	overflow: hidden;
	background-color: rgba(255,255,255,1);
}


.pic {
	padding: 0;
	margin: 0 12px 9px 0;
	border: 0;
	position: relative;
	text-align: center;
	
}

.pic img {
	-webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
	position: relative;
	border: solid 6px #fff;
}

.pic img.grow {
	width: 600px;
	height: 390px;
}