

/* ===== Primary Styles ========================================================
   Author: Peter Jones -- Front End Developer - SimplyEngage
   ========================================================================== */
   
body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #666;
	line-height: 21px;
	padding: 0;
	margin: 0;
	background: rgba(255,255,255,1);
}

a:hover {
	text-decoration: none
}

p a:hover {
	text-decoration: underline;
}


#sun {
	position: absolute;
	top: 90px;
	left: -1px;
}

.logowrap {
	padding: 5px;
	margin: 0;
}


.display h1 {
	color: #FFF;
	position: relative;
	top:6em;
	text-shadow: 0 1px 16px #333;
	font-size: 3.8em;
	margin: 0;
}


#overview {
	background: url("/retail3.jpg") no-repeat center center fixed;
	min-height: 660px;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#restaurant {
	background: url("/rest1.jpg") no-repeat center center;
	min-height: 790px;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#office {
	background: url("/office1.jpg");
	min-height: 960px;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#retail {
	background: url("/retail2.jpg");
	min-height: 660px;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.display {
	text-align: center;
	position: relative;
	z-index: 1;
	margin: 0;

}


#macpro {
	position: relative;
	top: 388px;
}

#iphone {
	position: relative;
	top: 518px;
	left: -412px
}

